

<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <title>Machaan Farmhouse</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'script.js' %}"></script>

</head>

<body>
    <header class="navbar">
        <img src="{% static 'images/machaanlogo.svg' %}" alt="Machaan Farmhouse" class="logo-float">
      
        <nav class="nav-links">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'about' %}">About</a>
          <a href="{% url 'gallery' %}">Events</a>
          <a href="{% url 'facilities' %}">Facilities</a>
          <a href="{% url 'contact' %}">Booking</a>
      </nav>
      </header>

<section class="hero">

  <!-- RIGHT IMAGE -->
  <div class="hero-right">
    <video autoplay muted loop playsinline class="hero-video">
        <source src="{% static 'images/VIDEO1.mp4' %}" type="video/mp4">
    </video>
</div>

  <!-- LEFT GLASS PANEL -->
  <div class="hero-left">


    <!-- small heading -->
    <div class="mini-title fade-up">
      <span class="line"></span>
      AMAZING STAYCATIONS
      <span class="line"></span>
    </div>

    <!-- main heading -->
    <h1 class="main-title">
      <span class="text-fill">MACHAAN</span><br>
      <span class="text-solid">FARMHOUSE</span>
    </h1>

    <!-- description -->
    <p class="description fade-up delay-2">
      Where great vibes, private parties, and unforgettable memories come together.
    </p>

    <!-- button -->
    <a href="#" class="learn-more fade-up delay-3">LEARN MORE</a>

  </div>

</section>


<!-- PREMIUM WHATSAPP BUTTON -->
<div class="whatsapp-float">
    <div class="whatsapp-tooltip">Chat with us</div>
    <a href="https://wa.me/917977120052?text=Hello%20MACHAAN%20Farmhouse,%20I%20want%20to%20book."
       class="whatsapp-btn"
       target="_blank">
       <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
    </a>
  </div>


<!-- LIGHTBOX -->
<div id="lightbox" class="lightbox">
    <span onclick="closeLightbox()">&times;</span>
    <img id="lightbox-img">
  </div>
  
<!-- Top Contact Bar -->
<div class="top-contact-bar">
    
  <div class="contact-left">
      <a href="tel:+917977120052" class="contact-item">
          <i class="fas fa-phone"></i>
          +91 79771 20052
      </a>
  </div>

  <div class="contact-right">
      <a href="mailto:farmhousemachaan@gmail.com" class="contact-item">
          <i class="fas fa-envelope"></i>
          farmhousemachaan@gmail.com
      </a>
  </div>

</div>

<footer>
  <p>© 2026 MACHAAN Farmhouse</p>
</footer>

</body>
</html>